.consulting-page-background{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/evergreen-fitness.appspot.com/o/cunsulting%20B.I.jpg?alt=media&token=3d1a32a3-eed7-42c9-baf7-3789618033a7');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 'center';
    background-attachment: fixed;
}