.membership-page-background{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/evergreen-fitness.appspot.com/o/Membership%20page%20B.I.jpg?alt=media&token=c26f645e-4143-4a86-8319-0f09a7fc52ae');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 'center';
    background-attachment: fixed;
}