.training-page-background{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/evergreen-fitness.appspot.com/o/Training%20B.I.jpg?alt=media&token=dd73603f-8b2b-46f8-a4ca-6d2d605e4c87');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 'center';
    background-attachment: fixed;
}